* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-style: normal;
}

body {
    background: #4B81A0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 617px;
    padding: 0px 406px;
    gap: 38px;
}





